body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

#wordContainer {
    margin-top: 20px;
}

#wordList {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

